/* spacing */
.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;

    @include all-phone {
        padding-top: 60px;
    }
}

.pt-105 {
    padding-top: 105px;

    @include all-phone {
        padding-top: 65px;
    }
}

.pt-110 {
    padding-top: 110px;

    @include all-phone {
        padding-top: 70px;
    }
}

.pt-115 {
    padding-top: 115px;

    @include all-phone {
        padding-top: 75px;
    }
}

.pt-120 {
    padding-top: 120px;

    @include all-phone {
        padding-top: 80px;
    }
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;

    @include all-phone {
        padding-bottom: 50px;
    }
}

.pb-100 {
    padding-bottom: 100px;

    @include all-phone {
        padding-bottom: 60px;
    }
}

.pb-105 {
    padding-bottom: 105px;

    @include all-phone {
        padding-bottom: 65px;
    }
}

.pb-110 {
    padding-bottom: 110px;

    @include all-phone {
        padding-bottom: 70px;
    }
}

.pb-115 {
    padding-bottom: 115px;

    @include all-phone {
        padding-bottom: 75px;
    }
}

.pb-120 {
    padding-bottom: 120px;

    @include all-phone {
        padding-bottom: 80px;
    }
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

.py-40 {
    padding: 40px 0;
}

.py-50 {
    padding: 50px 0;
}

.py-60 {
    padding: 60px 0;
}

.py-70 {
    padding: 70px 0;
}

.py-80 {
    padding: 80px 0;
}

.py-90 {
    padding: 90px 0;
}

.py-100 {
    padding: 100px 0;
}

.py-105 {
    padding: 105px 0;
}

.py-110 {
    padding: 110px 0;
}

.py-115 {
    padding: 115px 0;
}

.py-120 {
    padding: 120px 0;

    @include all-phone {
        padding: 80px 0;
    }
}

// margin
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.my-10 {
    margin: 10px 0;
}

.my-20 {
    margin: 10px 0;
}

.my-30 {
    margin: 10px 0;
}

.my-40 {
    margin: 10px 0;
}

.my-50 {
    margin: 10px 0;
}

.my-60 {
    margin: 10px 0;
}

.my-70 {
    margin: 10px 0;
}

.my-80 {
    margin: 10px 0;
}

.my-90 {
    margin: 10px 0;
}

.my-100 {
    margin: 10px 0;
}