/* theme */
.menu-area {
    padding: 10px 0;
    .nav-right-content {
        float: right;
        display: flex;
        align-items: center;
        .primary-btn {
            margin-left: 30px;
        }
        .search-btn {
            color: $secondary-color;
            font-size: 16px;
        }
    }
}