// theme font
$primary-font: "DM Sans", sans-serif;
$heading-font: "Urbanist", sans-serif;

// theme color
$primary-color: #3F54D3;
$secondary-color: #0F142B;
$paragraph-color: #666872;
$white-color: #ffffff;
$black-color: #000000;

// google font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// transition
$transition: all .2s ease-in; 