/* form */
.subscribe-form {
    form {
        display: flex;
        input {
            width: 70%;
            padding: 20px;
            background-color: $white-color;
            border: none;
            @include portrait-phone {
                width: 65%;
            }
        }
        button {
            width: 30%;
            padding: 20px;
            font-weight: 500;
            color: $white-color;
            background-color: $primary-color;
            border: none;
            @include portrait-phone {
                width: 35%;
            }
        }
    }
}
