/* header */
.header-area-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-area {
    padding: 10px 0;
    position: relative;
    background-color: $secondary-color;
    border-bottom: 1px solid rgba($border-color, .1);
    &.menu-area-2 {
        background-color: transparent;
        border-bottom: 1px solid $border-color;
        &.fixed-top {
            background-color: $white-color;
        }
        .nav-right-content {
            .search-btn {
                color: $secondary-color;
            }
        }
    }
    &.fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        animation: fixed_top 0.8s;
    }
    .logo-area {
        img {
            max-width: 160px;
            display: inline-block;
        }
    }
    .nav-right-content {
        float: right;
        display: flex;
        align-items: center;
        @include tablet {
            position: absolute;
            top: 9px;
            right: 90px;
            z-index: 1;
        }
        @include landscape-phone {
            position: absolute;
            top: 9px;
            right: 90px;
            z-index: 1;
        }
        @include portrait-phone {
            position: absolute;
            top: 23px;
            right: 90px;
            z-index: 1;
        }
        @include screen-360 {
            position: absolute;
            top: 23px;
            right: 90px;
            z-index: 1;
        }

        .primary-btn {
            margin-left: 30px;
            @include tablet {
                margin-left: 20px;
            }
            @include landscape-phone {
                margin-left: 20px;
            }
            @include portrait-phone {
                display: none;;
            }
            @include screen-360 {
                display: none;
            }
        }
        .search-btn {
            color: $white-color;
            font-size: 16px;
        }
    }
}

.header-top {
    background-color: $secondary-color;
    padding: 10px 0;
    .header-info {
        .header-email {
            margin-right: 30px;
            @include portrait-phone {
                display: block;
                margin-bottom: 10px;
            }
        }
        .email-icon,
        .location-icon {
            color: $primary-color;
            margin-right: 5px;
        }
        a {
            color: $white-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }
    }
    
    .header-social {
        text-align: right;
        @include tablet {
            text-align: left;
            margin-top: 10px;
        }
        @include all-phone {
            text-align: left;
            margin-top: 10px;
        }
        li {
            display: inline-block;
            +li {
                margin-left: 20px;
                @include tablet {
                    margin-left: 10px;
                }
                @include all-phone {
                    margin-left: 10px;
                }
            }
            a {
                color: $white-color;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}