/* navbar */
nav {
    display: flex !important;
    justify-content: flex-end;

    // home menu
    .main-menu {
        li {
            display: inline-block;
            position: relative;
            margin: 0 15px;
            line-height: 1.7;
            z-index: 1;
            @include tablet {
                margin: 0;
            }
            @include all-phone {
                margin: 0;
            }

            &.has-submenu {
                &::after {
                    content: '\2b';
                    font-family: 'FontAwesome';
                    font-weight: 900;
                    color: $white-color;
                    margin-left: 2px;
                    transition: $transition; 

                    @include tablet {
                        display: none;
                    } 

                    @include all-phone {
                        display: none;
                    }
                }
            }

            a {
                color: $white-color;
                padding: 20px 0;
                font-weight: 600;
                display: inline-block;
                font-size: 16px;
                text-transform: capitalize;
                transition: $transition;
            }

            @include all-desktop {
                // submenu
                .submenu {
                    position: absolute;
                    width: 200px;
                    top: 125%;
                    left: 0;
                    background: $white-color;
                    border: 1px solid #eaeaea;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition;

                    li {
                        display: block;
                        margin-right: initial;

                        a {
                            color: $secondary-color;
                            display: block;
                            padding: 7px;
                            width: 100%;
                            &:hover {
                                color: $primary-color;
                            }
                        }

                    }
                }

                &:hover {
                    &.has-submenu {
                        &::after {
                            color: $primary-color;
                        }
                    }

                    a {
                        color: $primary-color;
                        @include tablet {
                            color: $white-color;
                        }
                    }

                    .submenu {
                        top: 115%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

// phone menu
.mean-container {
    .mean-nav {
        background: $primary-color;
        @include tablet {
            margin-top: 55px;
        }

        @include all-phone {
            margin-top: 55px;
        }
    }

    .mean-bar {
        z-index: 0;
        a.meanmenu-reveal {
            background: $primary-color;
            top: 1px;
            right: 20px !important;
        }
    }
}